*{
    font-family: Ubuntu;
}

header{         /*header*/
    width: 100%;
    height: 65px;
    border-bottom: 5px solid #1DC789;    /*Line Color*/
    background-color: #020C1B;          /*Background*/
    position: relative;
}

header > div > img {
    height: 55px;
    width: 55px;
    margin-top: 5px;
    margin-left: 5px;
}

header > nav {
    position: absolute;
    top: 5px;
    right: 5px;
}

header>nav>ul>li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 17px;
    /*border-right: 2px solid #64FFDA;*/
}

header>nav>ul>li>a {
    color: #64FFDA;         /*Font Color*/
    text-decoration: none;
}

main>section:nth-child(1){ /*about section*/
    position: relative;
    border: 1px solid black;
}

main>section:nth-child(1)>img{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    right: 110px;
}

main>section:nth-child(1)>div{
    color: black;
}

main>section:nth-child(1)>div>h3>span{
    color: #64FFDA;
}