* {
    font-family: 'Ubuntu', sans-serif;
}

/*==================header===================*/
header {
    width: 100%;
    height: 65px;
    border-bottom: 5px solid #1DC789; /*Line Color*/
    background-color: #020C1B; /*Background*/
    position: relative;
}

header > div > img {
    height: 55px;
    width: 55px;
    margin-top: 5px;
    margin-left: 5px;
}

header > nav {
    position: absolute;
    top: 5px;
    right: 5px;
}

header > nav > ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 17px;
    /*border-right: 2px solid #64FFDA;*/
}

header > nav > ul > li > a {
    color: #64FFDA; /*Font Color*/
    text-decoration: none;
}

/*==================main===================*/
main {
    position: relative;
    top: -35px;
}

main > section:nth-child(1) { /*------------------------------------------about section*/
    position: relative;
    width: 100%;
    height: 438px;
    background-color: #020C1B;
    margin-bottom: 206px;
}

main > section:nth-child(1) > img {
    height: 440px;
    width: 440px;
    border-radius: 100%;
    position: absolute;
    top: 122px;
    right: 110px;
}

main > section:nth-child(1) > div {
    color: white;
    position: relative;
    top: 100px;
    left: 100px;
    width: max-content;
}

main > section:nth-child(1) > div > h2 {
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 0;
}

main > section:nth-child(1) > div > h1 {
    font-size: 55px;
    font-weight: normal;
    margin-top: 10px;
}

main > section:nth-child(1) > div > h3 {
    font-size: 35px;
    font-weight: normal;
}

main > section:nth-child(1) > div > h3 > span {
    color: #64FFDA;
}

main > section:nth-child(1) > button {
    color: #64FFDA;
    background-color: #020C1B;
    border: 3px solid #64FFDA;
    border-radius: 5px;
    font-family: Ubuntu;
    padding: 5px 10px;
    position: relative;
    left: 100px;
    top: 115px;
}

main > section:nth-child(1) > nav {
    position: relative;
    left: 45px;
    top: 202px;
    width: 750px;
}

main > section:nth-child(1) > nav li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

main > section:nth-child(1) > nav i {
    color: #020C1B;
}

main > section:nth-child(2) { /*---------------------------Education Section*/
    border-top: 4px solid #1DC789;
    border-bottom: 4px solid #1DC789;
    color: white;
    background-color: #020C1B;
    height: 400px;
}

main > section:nth-child(2) > h2 {
    color: #64FFDA;
    font-size: xx-large;
    text-align: center;
}

main > section:nth-child(2) > div {
    display: flex;
    text-align: center;
    margin-top: 35px;
    margin-left: 50px;
}

main > section:nth-child(2) > div > figure {
    text-align: center;
}

main > section:nth-child(2) > div > figure > img {
    height: 110px;
    width: 110px;
    border-radius: 15%;
    align-items: center;
}

main > section:nth-child(2) > hr {
    margin-top: 12px;
    border: 0;
    background-color: white;
    height: 3px;
    width: 90%;
}

main > section:nth-child(2) > ul {
    position: relative;
    top: -25px;
    left: 120px;
    width: 800px;
}

main > section:nth-child(2) > ul > li {
    color: white;
    list-style: none;
    display: inline-block;
}

main > section:nth-child(2) > ul > li > div {
    background-color: #E67E22;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: relative;
}

main > section:nth-child(2) > ul > li:nth-child(2) {
    margin-left: 220px;
}

main > section:nth-child(2) > ul > li:nth-child(3) {
    margin-left: 195px;
}

main > section:nth-child(3) { /*------------------------------------Skills and Tools*/
    background-color: #020C1B;
    border-bottom: 4px solid #1DC789;
}

main > section:nth-child(3) h2 {
    color: #64FFDA;
    font-size: xx-large;
    text-align: center;
}

main > section:nth-child(3) > h2:nth-child(1) {
    margin-top: 0;
    padding-top: 26.76px;
}

main > section:nth-child(3) > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0;
}

main > section:nth-child(3) img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 60px;
}

main > section:nth-child(3) > hr {
    margin-top: 12px;
    border: 0;
    background-color: #1DC789;
    height: 4px;
    width: 90%;
}

main > section:nth-child(3) > div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0;
}

main > section:nth-child(4) { /*-------------------------------------My Works*/
    background-color: #020C1B;
    border-bottom: 4px solid #1DC789;
    color: white;
}

main > section:nth-child(4) h2 {
    color: #64FFDA;
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
    padding-top: 26.76px;
}

main > section:nth-child(4) img {
    border-radius: 10%;
    height: 270px;
    width: 325px;
}

main > section:nth-child(4) div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 60px;
}

main > section:nth-child(4) a {
    text-decoration: none;
    color: white;
    font-size: large;
}

main > section:nth-child(5) { /*------------------------------------Assignment Section*/
    background-color: #020C1B;
    border-bottom: 4px solid #1DC789;
    height: 490px;
}

main > section:nth-child(5) > h2 {
    color: #64FFDA;
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
    padding-top: 26.76px;
}

main > section:nth-child(5) > div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-bottom: 60px;
}

main > section:nth-child(5) > div img {
    border-radius: 10%;
    height: 240px;
    width: 325px;
}

main > section:nth-child(5) > a{
    position: relative;
    left: 675px;
}

main > section:nth-child(5) > a > button {
    color: #020C1B;
    border: 4px solid #2ee0a7;
    background-color: #2ee0a7;
    border-radius: 7.5px;
    font-size: large;
    padding: 8px;
    width: 133px;
    height: 47px;
}

main > section:nth-child(5) > a > button:hover {
    color: #2ee0a7;
    border: 4px solid #2ee0a7;
    background-color: #020C1B;
}

main > section:nth-child(6) { /*------------------------------------Services Section*/
    background-color: #020C1B;
    border-bottom: 4px solid #1DC789;
    color: black;
}

main > section:nth-child(6) > h2 {
    color: #64FFDA;
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
    padding-top: 26.76px;
}

main > section:nth-child(6) > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 60px;
}

main > section:nth-child(6) > div h1 {
    font-size: large;
}

main > section:nth-child(6) > div figure {
    background-color: white;
    text-align: center;
    border-radius: 5%;
    width: 230px;
    height: 300px;
}

main > section:nth-child(6) > div figcaption {
    width: 180px;
    position: relative;
    left: 25px;
    top: 40px;
}

main > section:nth-child(6) > div img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 20px;
}

main > section:nth-child(7) { /*--------------------------------ContactMe Section*/
    background-color: #020C1B;
    border-bottom: 4px solid #1DC789;
    color: white;
    position: relative;
    height: 525px;
}

main > section:nth-child(7) > h2 {
    color: #64FFDA;
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
    padding-top: 26.76px;
}

main > section:nth-child(7) i {
    color: #64FFDA;
    margin-right: 45px;
}

main > section:nth-child(7) > div:nth-child(2) {
    position: relative;
    left: 70px;
    top: 25px;
    width: 700px;
}

main > section:nth-child(7) > div:nth-child(2) > ul {
    width: 700px;
}

main > section:nth-child(7) > div:nth-child(2) > ul > li {
    list-style: none;
    margin-bottom: 40px;
    font-size: 19px;
    font-weight: normal;
    width: 700px;
}

main > section:nth-child(7) > div:nth-child(2) > ul > li:nth-child(4) > p:nth-child(2) {
    position: relative;
    left: 65px;
    bottom: 10px;
    margin-top: 5px;
}

main > section:nth-child(7) > div:nth-child(4) { /*form area*/
    width: 650px;
    position: absolute;
    top: 90px;
    right: 45px;
}

main > section:nth-child(7) > div:nth-child(4) fieldset {
    margin: 0;
    border: 0;
}

main > section:nth-child(7) > div:nth-child(4) > form > fieldset > input {
    border-radius: 6px;
    margin: 15px;
    font-size: large;
    padding: 5px;
}

#subOptional {
    width: 530px;
}

main > section:nth-child(7) > div:nth-child(4) > form > fieldset > textarea {
    width: 530px;
    height: 125px;
    border-radius: 6px;
    margin: 15px;
    font-size: large;
    padding: 5px;
}

#hireMeBtn {
    color: #FF4757;
    border: 4px solid #FF4757;
    background-color: #020C1B;
    border-radius: 7.5px;
    position: relative;
    left: 175px;
    top: 37px;
    font-size: large;
    padding: 12px;
    width: 149px;
    height: 51px;
    /*margin-bottom: 100px;*/
}

#submitFormBtn {
    color: #64FFDA;
    border: 4px solid #64FFDA;
    background-color: #020C1B;
    border-radius: 7.5px;
    position: relative;
    left: 18px;
    top: 23px;
    font-size: large;
    padding: 12px;
    width: 149px;
    height: 51px;
}

/*==================footer===================*/
footer {
    background-color: #1DC789;
    text-align: center;
    position: relative;
    top: -35px;
    height: 121px;
    padding-bottom: 10px;
}

footer > div:nth-child(1) > nav {
    padding-top: 5px;
}

footer li {
    display: inline-block;
    list-style: none;
}

footer a {
    text-decoration: none;
}

#navList a {
    color: black;
    padding: 0 10px 0 10px;
    border-right: 1px solid black;
}

footer > small {
    color: gray;
}

footer > nav:nth-child(2) i {
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

body {
    height: 3938.55px;
}



@media all and (max-width: 320px) {
    /*-------------------------------------Header-----------------------------------*/
    header > div > img {
        height: 30px;
        width: 30px;
        margin-top: 17px;
    }

    header > nav {
        top: -3px;
        text-align: center;
    }

    header > nav > ul > li {
        font-size: 12px;
    }

    /*-------------------------------------Main-------------------------------------*/
    main {
        top: -27px;
    }

                                    /*-------------------------------About Section------------------------------------*/
    main > section:nth-child(1) {
        height: 383px;
        margin-bottom: 105px;
    }

    main > section:nth-child(1) > img {
        display: none;
    }

    main > section:nth-child(1) > div {
        top: 113px;
        left: 29px;
    }

    main > section:nth-child(1) > div > h2 {
        font-size: 31px;
    }

    main > section:nth-child(1) > div > h1 {
        font-size: 23px;
    }

    main > section:nth-child(1) > div > h3 {
        font-size: 22px;
    }

    main > section:nth-child(1) > button {
        left: 90px;
        top: 152px;
    }

    main > section:nth-child(1) > nav {
        left: -9px;
        top: 229px;
        width: max-content;
    }

    main > section:nth-child(1) > nav li {
        font-size: 15px;
    }

                                /*-------------------------------Education Section------------------------------------*/
    main > section:nth-child(2) {
        height: 400px;
    }

    main > section:nth-child(2) > h2 {
        font-size: x-large;
    }

    main > section:nth-child(2) > div {
        margin-left: 13px;
        flex-direction: column;
        width: 290px;
    }

    main > section:nth-child(2) > div > figure {
        margin-bottom: 10px;
        display: flex;
    }

    main > section:nth-child(2) > div > figure > figcaption {
        margin-left: 18px;
        margin-top: 9px;
        text-align: center;
    }

    main > section:nth-child(2) > div > figure > img {
        height: 60px;
        width: 60px;
    }

    main > section:nth-child(2) > hr {
        display: none;
    }

    main > section:nth-child(2) > ul {
        position: static;
        display: none;
        width: 10px;
    }

    main>section:nth-child(2)>ul>li:nth-child(2){
        margin-left: 0;
    }

    main>section:nth-child(2)>ul>li:nth-child(3){
        margin-left: 0;
    }

                                    /*-------------------------------Skills Section------------------------------------*/
    main>section:nth-child(3) h2{
        font-size: x-large;
    }
    main > section:nth-child(3) > div:nth-child(2){
        flex-wrap: wrap;
    }
    main > section:nth-child(3) > div:nth-child(5){
        flex-wrap: wrap;
    }
    main > section:nth-child(3) img{
        height: 75px;
        width: 75px;
        margin-bottom: 20px;
        flex-shrink: 0;
        margin-left: 10px;
    }

                                        /*-------------------------------MyWorks Section------------------------------------*/
    main > section:nth-child(4) > div{
        flex-direction: column;
        width: 300px;
        text-align: center;
    }

    main > section:nth-child(4) h2{
        font-size: x-large;
    }

    main > section:nth-child(4) img {
        height: 100px;
        width: 100px;
    }

                                /*-------------------------------Assignment Section------------------------------------*/
    main>section:nth-child(5){
        height: max-content;
    }

    main > section:nth-child(5) h2{
        font-size: x-large;
    }
    main>section:nth-child(5)>div{
        flex-direction: column;
        margin-left: 51px;
    }
    main>section:nth-child(5)>div img{
        height: 100px;
        width: 200px;
        margin-bottom: 20px;
    }

    main>section:nth-child(5)>a{
        position: relative;
        left: 92px;
        bottom: 46px;
    }

    main>section:nth-child(5)>a>button{
        font-size: small;
        font-weight: bold;
        width: 113px;
        height: 39px;
    }

                                /*-------------------------------Service Section------------------------------------*/
    main>section:nth-child(6){
        height: max-content;
    }

    main > section:nth-child(6) h2{
        font-size: x-large;
    }
    main > section:nth-child(6) > div{
        flex-direction: column;
    }
    main > section:nth-child(6) > div h1 {
        font-size: 15px;
    }
    main > section:nth-child(6) > div img{
        width: 80px;
        height: 80px;
        margin-top: 8px;
    }
    main > section:nth-child(6) > div figure{
        width: 195px;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section:nth-child(6) > div figcaption{
        width: 180px;
        margin-top: 15px;
        position: static;
    }

                                /*-------------------------------ContactMe Section------------------------------------*/
    main > section:nth-child(7){
        height: 610px;
    }

    main > section:nth-child(7) h2{
        font-size: x-large;
    }
    main > section:nth-child(7) > div:nth-child(2){
        left: -12px;
        width: 270px;
    }

    main > section:nth-child(7) > div:nth-child(2) > ul {
        width: 270px;
    }

    main > section:nth-child(7) > div:nth-child(2) > ul > li{
        margin-bottom: 20px;
        font-size: 11px;
        width: 270px;
    }

    main > section:nth-child(7) > div:nth-child(2) > ul > li:nth-child(4) > p:nth-child(2){
        width: 121px;
    }

    main > section:nth-child(7) i{
        margin-right: 33px;
    }

    #hireMeBtn{
        left: 93px;
        font-size: small;
        font-weight: bold;
        padding: 8px;
        width: 118px;
        height: 40px;
        top: 30px;
    }

    main > section:nth-child(7) > div:nth-child(4) {
        width: 287px;
        top: 326px;
        left: -1px;
        margin-left: 13px;
    }

    main > section:nth-child(7) > div:nth-child(4) > form > fieldset{
        padding: 0;
        height: 188px;
    }

    main > section:nth-child(7) > div:nth-child(4) > form > fieldset > input{
        margin: 3px;
        font-size: small;
    }
    main > section:nth-child(7) > div:nth-child(4) > form > fieldset > input:nth-child(1){
        /*visibility: hidden;*/
        width: 121px;
    }
    main > section:nth-child(7) > div:nth-child(4) > form > fieldset > input:nth-child(2){
        position: relative;
        right: 5px;
        width: 121px;
    }

    #subOptional {
        width: 261px;
    }

    main > section:nth-child(7) > div:nth-child(4) > form > fieldset > textarea {
        width: 264px;
        height: 92px;
        margin: 3px;
        font-size: small;
    }

    #submitFormBtn{
        left: 79px;
        top: 30px;
        font-size: small;
        font-weight: bold;
        padding: 8px;
        width: 118px;
        height: 40px;
    }

    /*---------------------------------footer-----------------------------*/
    footer{
        top: -40px;
        height: 117px;
        padding-bottom: 0;
    }
    footer>div:nth-child(1){
        display: none;
        width: 100px;
    }

    footer>nav:nth-child(2){
        position: relative;
        right: 18px;
        top: 23px;
        font-size: 13px
    }
    footer>small{
        position: relative;
        top: 30px;
    }

}


