*{
    font-family: Ubuntu;
}
div:nth-child(1){
    background-color: #1DC789;
    border: 15px solid #020C1B;
    border-right: 0;
    border-left: 0;
    text-align: center;
}
div:nth-child(1)>h1{
    color: #020C1B;
    position: relative;
    font-size: 47px;
    margin: 8px 0;
    font-weight: bold;
}
section:nth-child(2)>h1, section:nth-child(3)>h1{
    margin: 0;
    color: ghostwhite;
    background-color: black;
    text-align: center;
    border: 5px solid ghostwhite;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    font-size: 34px;
}
section:nth-child(2)>section, section:nth-child(3)>section{
     background-color: #020C1B;
     color: #1DC789;
 }
section:nth-child(2)>section h2,section:nth-child(3)>section h2{
    color: #1DC789;
    margin: 0;
    background-color: ghostwhite;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    border-top: 1px solid #020C1B;
    width: 15%;
    font-size: 31px;
    padding: 4px;
    padding-left: 15px;
}
section:nth-child(2)>section div, section:nth-child(3)>section div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 10px 0 50px 0;
}
section:nth-child(2)>section div a, section:nth-child(3)>section div a{
    text-decoration: none;
    color: ghostwhite;
    text-align: center;
    font-size: large;
}
section:nth-child(2)>section div a figure, section:nth-child(3)>section div a figure{
    border: 3px solid #2ee0a7;
    border-radius: 15px;
    height: 215px;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section:nth-child(2)>section div a figure img, section:nth-child(3)>section div a figure img{
    width: 165px;
    height: 85px;
}

section:nth-child(2)>section div a figure figcaption, section:nth-child(3)>section div a figure figcaption{
    margin-top: 40px;
}




